/* Base Styles --------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 300 100%/1.5 'Merriweather', sans-serif;
    color: #2c333d;
}

header {
    text-align: center;
}

hr {
    width: 80%;
    height: 2rem;
    margin: auto;
}

.main_header {
    background-color: #2c333d;
    color: #fff;
    padding: 20px 40px;
}
.second_header {
    margin:15px 0px 5px;
    padding: 5px;
}
.space {
    margin-bottom: 20px;
    padding: 5px;
}

/* DRY Styles --------------------- */

fieldset {
    border: none;
}
p {
    color: #c9c9c9;
}
/* Meadia Q --------------------- */

@media (min-width: 769px) {
    .inln {
        width: auto;
        display: inline-block;
    }
}