/* Base Styles --------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 300 100%/1.5 'Merriweather', sans-serif;
    color: #2c333d;
}

header {
    text-align: center;
}

legend {
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}

form {
    padding: 20px 16px 30px;
}

button {
    font-family: inherit;
    width: 100%;
    border: none;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #30acac;
    border-radius: .3rem;
    margin-top: 10px;
}

.backcolor {
    background-color: #f3f0f041;
}

.thin_line {
    width: 90%;
    margin: auto;
    border: solid 1px #2c333d;
}

.thin_line1 {
    width: 100%;
    margin: auto;
    border: solid 1px #2c333d;
    margin-top: 18px;
}

.thick_line {
    width: 90%;
    margin:  auto;
    margin-bottom: 2.5px;
    border: solid 2px #2c333d;
}

.copy {
    text-align: center;
    font-style: italic;
    padding-bottom: 60px;
}

.main_header {
    background-color: #2c333d;
    color: #fff;
    padding: 20px 40px;
}
.second_header {
    margin:15px 0px 5px;
    padding: 5px;
}

.lable_space {
    margin: 16px 0 14px;
}

.lable_space1 {
    margin: 0 0 14px;
}
#space {
    margin-bottom: 20px;
    padding: 5px;
    color: #c9c9c9;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="tel"],
select[id="state"],
textarea[id="topics"] {
    background-color: rgba(199, 194, 194, 0.281);
    border: none;
    font-size: 16px;
    padding: 16px;
    width: 100%;
    border-radius: .2rem;
    margin: 10px 0;
}
 
input[id="zip"] {
    width: 50%;
}

textarea[id="topics"] {
    padding-bottom: 40px;
}

input[type="checkbox"],
input[type="radio"],
textarea[id="topics"] {
    margin: 8px 10px 10px 0;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #66636362;
    transition: 500ms;
}

::placeholder {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: rgb(177, 177, 177);
}

select {
    color: #999999bd;
}

fieldset {
    border: none;
}
p, label {
    color: #2c333daf;
}

/* Flex --------------------- */
.footer {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
}

/* media query --------------------- */

@media (min-width: 768px) {
 
    main {
        max-width: 600px;
        margin: auto;
    }

    .container {
        flex-direction: row;
    }

    .container label {
        width: 30%;
        margin: auto 0;
    }

    .container input,
    .container select {
        width: 70%;
    }
    
    input[id="zip"] {
        width: 25%;

    }

    .thick_line, .thin_line {
        max-width: 600px;
    }

    .second_header {
        margin: 40px 0px 0px;
    }

    #space {
        margin-bottom: 40px;
        padding: 0px;
    }
    form {
        padding-left: 0;
        padding-right: 0;
    }

}